@charset "UTF-8";
@font-face {
    font-family: Manrope;
    src: url(manrope-semibold.woff2) format("woff2"), url(manrope-semibold.woff) format("woff"), url(manrope-semibold.otf) format("truetype");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: Manrope;
    src: url(manrope-medium.woff2) format("woff2"), url(manrope-medium.woff) format("woff"), url(manrope-medium.otf) format("truetype");
    font-style: normal;
    font-weight: 500
}